@charset "utf-8";

.orange {
            background-color: 	#ff7f00;
            border:navy solid;
            width:600px;
            padding:10px;
            margin:auto;
        }
        .list {
            
            border:10px;
            -webkit-margin-before: 5px;
            -webkit-padding-start: 35px;
        }
        h2 {
            text-align:center;
            -webkit-margin-before: 5px;
            -webkit-padding-start: 0px;
            -webkit-margin-after: 5px;
        }
        .heading {
            -webkit-margin-before: 5px;
            -webkit-padding-start: 0px;
            -webkit-margin-after:0px;
        }